@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500|Kreon);
/*
Elempleo vip with sass and bootstrap
Author: Activa MC
Version: 0.0.1
*/
/* BASE STYLES */
/* google font import */
/*============================================
=            typography variables            =
============================================*/
/*=====  End of typography variables  ======*/
/*=======================================
=            color variables            =
=======================================*/
/* blue */
/* grey */
/* orange */
/*==================================================
=            gradient mixin            =
==================================================*/
/*-----  End of gradient mixin   ------*/
/* mixin border radius */
/* mixin text-shadow */
/* line 1, ../scss/base/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/base/_base.scss */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: white;
}

/* line 12, ../scss/base/_base.scss */
li {
  list-style: none;
}

/* line 16, ../scss/base/_base.scss */
i {
  padding-right: 10px;
}

/* MODULES STYLES - individual site components */
/* start footer styles */
/* line 26, ../scss/footer.scss */
.main-footer .first-level-footer {
  background-color: #313131;
  padding-top: 40px;
  padding-bottom: 30px;
}
/* line 31, ../scss/footer.scss */
.main-footer .first-level-footer .content-brand-footer {
  margin-bottom: 10px;
}
/* line 33, ../scss/footer.scss */
.main-footer .first-level-footer .content-brand-footer .brand-ee-footer {
  width: 150px;
}
/* line 39, ../scss/footer.scss */
.main-footer .first-level-footer .contact-info li {
  color: white;
  padding: 8px 0;
}
/* line 42, ../scss/footer.scss */
.main-footer .first-level-footer .contact-info li i {
  color: #999999;
}
/* line 45, ../scss/footer.scss */
.main-footer .first-level-footer .contact-info li span.info-ext {
  font-size: 0.875em;
  padding-left: 23px;
}
/* line 50, ../scss/footer.scss */
.main-footer .first-level-footer .contact-info li.green-link a {
  color: #2bb19e;
}
/* line 56, ../scss/footer.scss */
.main-footer .first-level-footer .nav-footer li {
  padding: 5px 0;
}
/* line 58, ../scss/footer.scss */
.main-footer .first-level-footer .nav-footer li a {
  color: white;
}
/* line 61, ../scss/footer.scss */
.main-footer .first-level-footer .nav-footer li a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 69, ../scss/footer.scss */
.main-footer .first-level-footer .social-media-links h6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
}
/* line 75, ../scss/footer.scss */
.main-footer .first-level-footer .social-media-links li {
  display: inline;
}
/* line 77, ../scss/footer.scss */
.main-footer .first-level-footer .social-media-links li a {
  color: white;
}
/* line 80, ../scss/footer.scss */
.main-footer .first-level-footer .social-media-links li a:hover {
  color: #999999;
}
/* line 86, ../scss/footer.scss */
.main-footer .first-level-footer .portales {
  margin-top: 30px;
}
/* line 89, ../scss/footer.scss */
.main-footer .first-level-footer .portales .title-portales {
  font-family: "Kreon", serif;
  font-size: 1.125em;
  color: white;
}
/* line 95, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol {
  text-align: center;
}
/* line 97, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li {
  display: inline-block;
  padding: 5px 25px;
}
/* line 100, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a {
  text-indent: -9999px;
  display: block;
}
/* line 105, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a.etcla {
  background-image: url("../images/portales_logo_01.png");
  background-repeat: no-repeat;
  width: 145px;
  height: 25px;
}
/* line 112, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a.mc {
  background-image: url("../images/portales_logo_02.png");
  background-repeat: no-repeat;
  width: 73px;
  height: 25px;
}
/* line 118, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a.cy {
  background-image: url("../images/portales_logo_03.png");
  background-repeat: no-repeat;
  width: 74px;
  height: 25px;
}
/* line 124, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a.qbc {
  background-image: url("../images/portales_logo_04.png");
  background-repeat: no-repeat;
  width: 129px;
  height: 25px;
}
/* line 130, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a.mda {
  background-image: url("../images/portales_logo_05.png");
  background-repeat: no-repeat;
  width: 79px;
  height: 25px;
}
/* line 136, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a.ga {
  background-image: url("../images/portales_logo_06.png");
  background-repeat: no-repeat;
  width: 143px;
  height: 25px;
}
/* line 142, ../scss/footer.scss */
.main-footer .first-level-footer .portales ol li a.le {
  background-image: url("../images/portales_logo_07.png");
  background-repeat: no-repeat;
  width: 117px;
  height: 25px;
}
/* line 155, ../scss/footer.scss */
.main-footer .second-level-footer {
  background-color: #1b1b1b;
  padding: 30px 0 15px;
}
/* line 159, ../scss/footer.scss */
.main-footer .second-level-footer .btn-outline {
  color: white;
  border: 1px solid white;
}
/* line 164, ../scss/footer.scss */
.main-footer .second-level-footer .txt-copyright {
  color: white;
  font-size: 0.688em;
}
/* line 167, ../scss/footer.scss */
.main-footer .second-level-footer .txt-copyright a {
  color: #2bb19e;
}
/* line 172, ../scss/footer.scss */
.main-footer .second-level-footer #collapsePortales {
  padding: 25px 0 20px;
}
/* line 174, ../scss/footer.scss */
.main-footer .second-level-footer #collapsePortales li {
  padding: 10px 0;
}
/* line 176, ../scss/footer.scss */
.main-footer .second-level-footer #collapsePortales li a {
  color: white;
  font-size: 0.875em;
}
/* line 179, ../scss/footer.scss */
.main-footer .second-level-footer #collapsePortales li a span {
  font-weight: 300;
}
/* line 187, ../scss/footer.scss */
.main-footer .third-level-footer {
  background-color: white;
  padding: 30px 0 10px;
}
/* line 190, ../scss/footer.scss */
.main-footer .third-level-footer p {
  font-family: 'Arial', sans-serif;
  font-size: 0.625em;
  padding-left: 80px;
}
/* line 194, ../scss/footer.scss */
.main-footer .third-level-footer p a {
  color: #0019ff;
  text-decoration: underline;
}
