/*
Elempleo vip with sass and bootstrap
Author: Activa MC
Version: 0.0.1
*/

/* BASE STYLES */

@import 'base/_normalize.scss';
@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_base.scss';

/* MODULES STYLES - individual site components */

@import 'modules/_blocks.scss';
@import 'modules/_buttons.scss';
@import 'modules/_components.scss';
@import 'modules/_sections.scss';
@import 'modules/_typography.scss';

/* start footer styles */

   .main-footer{

      .first-level-footer{
         background-color : $base-footer-bg;
         padding-top      : 40px;
         padding-bottom   : 30px;

         .content-brand-footer{
            margin-bottom: 10px;
            .brand-ee-footer{
               width: 150px;
            }
         }

         .contact-info{
            li{
               color:$base-color;
               padding: 8px 0;
               i{
                  color: #999999;
               }
               span.info-ext{
                  font-size: 0.875em;
                  padding-left: 23px;
               }
            }
            li.green-link a{
               color: $green-txt;
            }
         }

         .nav-footer{
            li{
               padding: 5px 0;
               a{
               color: $base-color;
               }
               a:hover{
                  color: #999999;
                  text-decoration: none;
               }
            }   
         }
         
         .social-media-links{
            h6{
               font-family: $primary-font-family;
               font-size: $base-font-size;
               color: $base-color;
               margin-bottom: 30px;
            }
            li{
               display: inline;
               a{
                  color: $base-color;
               }
               a:hover{
                   color: #999999;
               }
            }
         }

         .portales{
            margin-top: 30px;
            
            .title-portales{
               font-family: $secondary-font-family;
               font-size: 1.125em;
               color: $base-color;
            }
            
            ol{
               text-align: center;
               li{
                  display: inline-block;
                  padding: 5px 25px;
                  a{
                     text-indent: -9999px;
                     display: block;
                  }

                  a.etcla{
                     background-image: url('../images/portales_logo_01.png');
                     background-repeat: no-repeat;
                     width: 145px;
                     height: 25px;
                  }

                  a.mc{
                     background-image: url('../images/portales_logo_02.png');
                     background-repeat: no-repeat;
                     width: 73px;
                     height: 25px;
                  }
                  a.cy{
                     background-image: url('../images/portales_logo_03.png');
                     background-repeat: no-repeat;
                     width: 74px;
                     height: 25px;
                  }
                  a.qbc{
                     background-image: url('../images/portales_logo_04.png');
                     background-repeat: no-repeat;
                     width: 129px;
                     height: 25px;
                  }
                  a.mda{
                     background-image: url('../images/portales_logo_05.png');
                     background-repeat: no-repeat;
                     width: 79px;
                     height: 25px;
                  }
                  a.ga{
                     background-image: url('../images/portales_logo_06.png');
                     background-repeat: no-repeat;
                     width: 143px;
                     height: 25px;
                  }
                  a.le{
                     background-image: url('../images/portales_logo_07.png');
                     background-repeat: no-repeat;
                     width: 117px;
                     height: 25px;
                  }

               }
            }
         }

      }

      .second-level-footer{
         background-color: $second-footer-bg;
         padding: 30px 0 15px;
         
         .btn-outline{
            color: $base-color;
            border: 1px solid $base-color;
         }

         .txt-copyright{
            color: $base-color;
            font-size: 0.688em;
            a{
               color: $green-txt;
            }
         }

         #collapsePortales{
            padding: 25px 0 20px;
            li{
               padding: 10px 0;
               a{
                  color: $base-color;
                  font-size: 0.875em;
                  span{
                     font-weight: $light;
                  }
               }
            }
         }
      }

      .third-level-footer{
         background-color:$base-color;
         padding: 30px 0 10px;
         p{
            font-family: 'Arial', sans-serif;
            font-size: 0.625em;
            padding-left: 80px;
            a{
               color: #0019ff;
               text-decoration: underline;
            }
         }
      }

   }